<aside id="nav">
  <figure>
    <img src="https://www.mmocs.com/upload/201801191732418956.png" alt="">
  </figure>
  <nav>
    <ul>
      <li><a routerLink="/new" routerLinkActive="active">Crear Regla</a></li>
      <li><a href="">Mis Reglas</a></li>
      <li><a href="">option1</a></li>
      <li><a href="">option1</a></li>
      <li><a href="">option1</a></li>
    </ul>
  </nav>
  <footer>
    Copyright Santi 2018
  </footer>
</aside>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
