/* NAVEGADOR PRINCIPAL #NAV - INICIO */
aside#nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #383C47;
  width: 200px;
}

aside#nav>nav {}

aside#nav>figure {
  display: block;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #555555;
  margin-bottom: 15px;
  text-align: left;
}

aside#nav>figure img {
  max-width: 60%;
}

aside#nav>nav {
  width: 100%;
}

aside#nav>nav>ul {
  width: 100%;
}

aside#nav>nav>ul>li {
  width: 100%;
  display: block;
}

aside#nav>nav>ul>li>a {
  display: block;
  padding: 10px 15px;
  color: #f2f2f2;
  text-transform: uppercase;
}

aside#nav>nav>ul>li>a.active {
  font-weight: bold;
  color: #ECB417;
}

aside#nav>nav>ul>li>a:hover {
  color: #ECB417;
}

aside#nav footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #999999;
  font-size: 12px;
  width: 100%;
  padding: 10px 15px;
  height: 35px;
  text-align: center;
}

/* NAVEGADOR PRINCIPAL #NAV - FIN */

main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 200px;
  right: 0;
  overflow: auto;
  padding: 15px;
}
